.header{
    position: relative;
    background-image: url(/src/images/Crete-Map.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size:contain;
    max-width: 1250px;
    height: 240px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    // background-color: rgb(255, 255, 255);
@media (min-width:630px) {
    height: 300px;
}
@media (min-width:900px) {
    height: 400px;
}
@media (min-width:1200px) {
    height: 600px;
}
}
.header__img{
    position: absolute;
    bottom: 0;
    width: 50px;
@media (min-width:630px) {
    width: 100px;
}
@media (min-width:900px) {
    width: 150px;
}
@media (min-width:1200px) {
    width: 200px;
}
}
.header__title{
    position: absolute;
    top: 10px;
    right: 10px;
@media (min-width:630px) {
top: 20px;
right: 20px;
}
@media (min-width:900px) {
top:30px;
right:30px;
}
@media (min-width:1200px) {
top:40px;
right:40px;
}
}
.header__title--sub{
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 30px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
    color: #3f3f3f;
@media (min-width:630px) {
    font-size: 45px;
    line-height: 30px;
}
@media (min-width:900px) {
    font-size: 60px;
    line-height: 40px;
}
@media (min-width:1200px) {
    font-size: 75px;
    line-height: 50px;
}
}
.header__title--main{
    font-family: 'Mansalva', cursive;
    font-size: 75px;
    line-height: 75px;
    margin-top: 0;
    color:rgb(255, 255, 255);
    -webkit-text-stroke: 1px black;
@media (min-width:630px) {
    font-size: 100px;
    line-height: 100px;
    }
@media (min-width:900px) {
    font-size: 120px;
    line-height: 120px;
    }
@media (min-width:900px) {
    font-size: 140px;
    line-height: 140px;
    -webkit-text-stroke: 2px black;
}
@media (min-width:1200px) {
    font-size: 170px;
    line-height: 170px;
}
}
