.navBtn{
  display: none;
  position: fixed;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #fff;
  color: white;
  cursor: pointer;
  border: solid 1px rgb(113, 152, 211);
  border-radius: 15px;
  width: 70px;
  height: 70px;

}
#myBtn {
  bottom: 20px;
  right: 30px;
}
  
#myBtnMap {
  bottom: 100px;
  right: 30px;
}
  
#myBtnMenu {
  bottom: 180px;
  right: 30px;
}
  
#myBtn:hover,
#myBtnMenu:hover,
#myBtnMap:hover {
  border: solid 2px rgb(83, 112, 155);
  box-shadow: 0px 1px 3px 0px rgba(160, 160, 160, 0.2),
  0px 1px 1px 0px rgba(173, 173, 173, 0.14), 0px 2px 1px -1px rgba(175, 175, 175, 0.12);
}
@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}
@keyframes wipe-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@media (prefers-reduced-motion: no-preference) {
  .myBtn-animation{
    animation: wipe-enter 1s 1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .is-hidden{
    animation: wipe-out 1s 1;
  }
}

.is-hidden{
  opacity: 0;
  pointer-events: none;
}