.timer__wrapper{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 10px;
    gap:5px;
    @media (min-width:305px) {
        font-size: 15px;
        line-height: 15px;
        gap:10px;
    }
    @media (min-width:450px) {
        font-size: 20px;
        line-height: 20px;
        margin-top: 20px;
        gap:15px;
    }
    @media (min-width:630px) {
        font-size: 30px;
        line-height: 30px;
        margin-top: 50px;
    }
    @media (min-width:900px) {
        font-size: 40px;
        line-height: 40px;
        margin-top: 50px;
    }
}
.timer__description{
    color:rgb(61, 61, 61);
    @media (min-width:305px) {
        padding-top: 10px;
    }
    @media (min-width:450px) {
        padding-top: 15px;
    }
    @media (min-width:630px) {
        padding-top: 20px;
    }
    @media (min-width:900px) {
        padding-top: 20px;
    }
}
.timer__value{
    color:rgb(81, 177, 255);
    -webkit-text-stroke: 0.5px black;
    font-family: 'Mansalva', cursive;
    @media (min-width:305px) {
        font-size: 27px;
        line-height: 27px;
    }
    @media (min-width:450px) {
        font-size: 40px;
        line-height: 40px;
    }
    @media (min-width:630px) {
        font-size: 55px;
        line-height: 55px;
    }
    @media (min-width:900px) {
        font-size: 65px;
        line-height: 65px;
    }
}